body{
    background-color: floralwhite;
}

.btn-outline-success {
    color: floralwhite;
    border-color: floralwhite;
}

.btn-outline-success:hover {
    color: black;
    background-color: floralwhite;
    border-color: floralwhite;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: darkgray;
}

.navbar-toggler {
    border: 3px solid transparent;
}